<!DOCTYPE html>
<html lang="en">

<head>
  @@include("./_head.html")
  @@include("./_css.html")
  @@include("./_favicon.html")
</head>

<body>
  @@include("./_nav.html")
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('./dist/img/bg.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>Meta Tags Generator</h1>
            <h3 class="title text-center">A Site That Generates Meta Tags In No Time<i class="fa fa-clock-o ml-2"></i></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <div class="pb-4">
          <h2 class="title my-2">Meta Tags Generator</h2>
				<img class="img-fluid img-raised rounded w-75" src="./dist/img/meta-tags-generator.jpg" alt="Meta Tags Generator" title="Meta Tags Generator" />    
		</div>
        @@include("./_form.html")
      </div>
    </div>
  </div>
  @@include("./_footer.html")
  @@include("./_js.html")
</body>

</html>