<!-- META TAGS -->
<meta charset="utf-8" />
<meta content="width" name="MobileOptimized" />
<meta content="true" name="HandheldFriendly" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="IE=edge; IE=9; IE=8; IE=7; chrome=1" http-equiv="X-UA-Compatible" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- SEO TAGS -->
<title>Meta Tags Generator</title>
<meta name="title" content="Meta Tags Generator" />
<meta name="description" content="A Site That Generates Meta Tags In No Time" />
<meta name="keywords" content="Meta Tags Generator, Meta Tags, Tags Generator, SEO Tags Generator" />
<meta name="robots" content="index, follow" />
<meta name="language" content="en" />
<meta name="author" content="Mandar Naik" />

<!-- OPEN GRAPH -->
<meta property="og:title" content="Meta Tags Generator" />
<meta property="og:description" content="A Site That Generates Meta Tags In No Time" />
<meta property="og:url" content="https://mandarnaik016.github.io/meta-tags-generator/index.html" />
<meta property="og:image" content="https://mandarnaik016.github.io/meta-tags-generator/apple-touch-icon.png" />
<meta property="og:type" content="website" />

<!-- TWITTER -->
<meta content="summary_large_image" name="twitter:card" />
<meta content="Meta Tags Generator" name="twitter:title" />
<meta content="Meta Tags Generator" name="twitter:image:alt" />
<meta content="./dist/img/meta-tags-generator.jpg" name="twitter:image" />
<meta content="A Site That Generates Meta Tags In No Time" name="twitter:description" />